<footer>
	<div class="barra">
		<p>Você pode conhecer o mundo !</p>
	</div>
	<div class="contato">
		<div class="row">
			<div class="col-sm"><p>
				Rua General Teles, 1041<br/>
				Centro - Franca - SP<br/>
				CEP: 14400-450
			</p></div>
			<div class="col-sm">
				<form action="" class="row">
					<div class="col-sm">
						<div class="form-group"><input type="text" placeholder="Nome" class="form-control"></div>

						<div class="form-group"><input type="email" placeholder="Email" class="form-control"></div>

						<div class="form-group"><input type="text" placeholder="Titulo" class="form-control"></div>
					</div>
					<div class="col-sm">

						<div class="form-group"><textarea name="" id="" cols="30" rows="10" class="form-control textarea" placeholder="Mensagem"></textarea></div>
						<div class="form-group"><input type="submit" value="Enviar"></div>
						</div>
				</form>
			</div>
		</div>
	</div>
</footer>
