.card
  width: 14rem
  box-sizing: border-box
  padding: 5px
  padding-bottom: 0

.c-red
  color: white
  background: red

.c-blue-palle
  color: #3658A5

.car-image
  object-fit: cover
  height: 200px

.pt15
  padding-top: 15px
  padding-left: 15px

.mglf
  margin: 5px
