@import '../styles/colors'

.footer
    margin-top: 20px
    background: $bg_blue
    background-image: url('./continents.png')
    background-repeat: no-repeat
    background-size: cover

p.you-can
    background: $main-green
    text-align: center
    margin-bottom: 0
    font-weight: bold
    color: $white

.contact-us
    width: 100%
    min-height: 50px
    margin-top: 20px
    p
        color: $main-green
    input.custom, textarea.custom
        background: $bg_blue
        opacity: 0.7
        color: $white
        border: 1px solid $white
        padding: 4px