@import '../styles/colors'

.logo-container
  display: flex
  justify-content: center
  img
    width: 190px
    height: 140px

hr.borderd
  border-top: 5px solid $blue_logo
  margin-top: 0

.p-t-230
  padding-top: 230px
  @media (max-width: 767.98px)
    padding-top: 295px

.bg-color-main
  background-color: $bg_main_gray