.price-label
    margin-top: -20px
    margin-right: -20px
    height: 30px
    -webkit-border-bottom-left-radius: 70px
    -moz-border-radius-bottomleft: 70px
    border-bottom-left-radius: 70px
    font-size: 0.8em
    text-align: center
    align-content: center