@import '../../styles/colors'

.card
  font-size: 10px
  padding: 0

.card-body
  padding: 0


.justify-content-flex-end
  display: flex
  justify-content: flex-end


.label-price
  min-height: 15px
  display: flex
  justify-content: flex-end
  p
    padding: 8px 25px 8px 25px
    border-radius: 0px 0px 0px 12px
    -moz-border-radius: 0px 0px 0px 12px
    -webkit-border-radius: 0px 0px 0px 12px
    border: 0px solid #000000


// .price-label
//     margin-top: -20px
//     margin-right: -20px
//     height: 30px
//     -webkit-border-bottom-left-radius: 70px
//     -moz-border-radius-bottomleft: 70px
//     border-bottom-left-radius: 70px
//     text-align: center
//     align-content: center

.card-border
  border: 2px solid $main_s
  max-height: 400px !important

.place-and-price
  display: flex
  font-size: 18px
  .place
    width: 55%
    color: $place_blue
    text-align: center
    line-height: 1
    font-weight: bold
  .price
    padding-right: 18px
    color: #030e60
    span
      font-size: 20px
      font-weight: bold